@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
html.bg
{background: white
}

h1
    {font-family:'Pinyon Script',cursive; color:firebrick; text-align:center; font-weight:bold; font-size:300%;
    }

body 
    { font-family: garamond, cursive
    }
div.db
    {background-color: #parchment;
    }

h2
   {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 150%
    }
header
    {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 120%
    }
footer 
    {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 120%
    }
.hr {
    border: 0;
    height: 1px;
    }
.req{
    font-weight: bold; text-align: right
    }

