@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
html
	{background-color:white;
	}
body 
    {font-family: garamond, cursive;
    }
div.db
    {background-color: #parchment;
    }
h1
    {font-family:'Pinyon Script',cursive; color:firebrick; text-align:center; font-weight:bold; font-size:300%;
    }

h2
   {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 150%
    }
footer 
    {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 120%
    }
.hr {
    border: 0;
    height: 1px;
    }
.req{
    font-weight: bold; text-align: right;
    }
a:link{
    text-decoration: underline;
    }
a:visited{
    color:firebrick;
    }
a:hover{
    font-weight: bold;
    }
a:active{
    text-decoration: none;
    }




